*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: linear-gradient(110deg,whitesmoke, pink);
    height: 100vh;
}
header{
    background: #de0606a4;
    height: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
}
.questions{
    width: 90vw;
    background: #de0606a4;
    border-radius: 2rem;
    margin: 3rem auto;
    padding: 2rem;
}
#question{
    margin-bottom: 1rem;
    color: #393838;
}
.option{
    color: #393838;
    margin-bottom: 0.6rem;
    border-radius: 1rem;
    background-color: rgba(126, 126, 126, 0.644);
    width: 15rem;
}
.option:hover{
    color: #fff;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
}
header img{
    height: 2rem;
    width: 2rem;
    margin-right: 10px;
}
.dark-icon{
    height: 2rem;
    width: 2rem;
    background: #de0606a4;
    border-radius: 1rem;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.next{
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    background: #de0606a4;
    border: none;
    color: #fff;
    margin-left: 10px;
}
#previous{
    height: 3rem;
    width: 7rem;
    border-radius: 1rem;
    background: #de0606a4;
    border: none;
    color: #fff;
}
.dark-mode{
    background: linear-gradient(150deg,brown, #f1b40af1 );
    color: #fff;
    transition: 1s ease;
}
#score-board{
    width: 21rem;
    background: #fff;
    padding: 2rem;
    margin: auto;
    border: 1px solid pink;
    text-align: center;
    display: none;
    position: relative;
    top: 7rem;

}
button{
    border: none;
    outline: none;
    font-size: 1rem;
    background:#de0606a4; 
    border-radius: 1.5rem;
    color: #fff;
    padding: 0.2rem 1.5rem;
    margin: 0.3rem;
    text-align: center;
    justify-content: center;
}

#content{
    border: none;
    outline: none;
    font-size: 1rem;
    background:#de0606a4; 
    border-radius: 1.5rem;
    color: #fff;
   height: 50vh;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.hide-div{
    opacity: 0;
}

.show-div{
    transition: 1s ease;
}
.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}